{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
   <h1>Cookie Jar</h1>
   <p class="lead">I noticed a lot of automated login attempts on SSH on my server a while back.  Out of boredom over winter break, I decided to start logging them.</p>
   <p>Eventually I want to hook this into a GeoIP database, and have a nice map showing where the majority of these attempts come from.</p>
</div>

<div class="row">
   <div class="col-md-6">
      <blockquote class="blockquote">
         <p>{{ count }}</p>
         <footer>Attempts logged</footer>
      </blockquote>
   </div>
   <div class="col-md-6">
      <blockquote class="blockquote-reverse">
         <p>'{{ topUser }}':'{{ topPassword }}'</p>
         <footer>Most common password &amp; username combination</footer>
      </blockquote>
   </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">Attempts in the last 24 hours</div>
            <div class="panel-body">
                <div id="latest-attempts" style="min-height: 350px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">Top 10 passwords</div>
         <div class="panel-body">
            <div id="passwords" style="min-height: 350px; width: 100%"></div>
         </div>
          <table class="table" id="passwords-table">
              <thead>
                  <tr>
                      <th>Password</th>
                      <th>Count</th>
                  </tr>
              </thead>
              <tbody></tbody>
          </table>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">Top 10 usernames</div>
         <div class="panel-body">
            <div id="usernames" style="min-height: 350px; width: 100%"></div>
         </div>
          <table class="table" id="usernames-table">
              <thead>
                  <tr>
                      <th>Username</th>
                      <th>Count</th>
                  </tr>
              </thead>
              <tbody></tbody>
          </table>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">Top 10 attackers</div>
         <div class="panel-body">
            <div id="sources" style="min-height: 350px; width: 100%"></div>
         </div>
          <table class="table" id="sources-table">
              <thead>
                  <tr>
                      <th>Attacker</th>
                      <th>Count</th>
                  </tr>
              </thead>
              <tbody></tbody>
          </table>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <div class="panel panel-default">
         <div class="panel-heading">50 Latest Attempts</div>
         <table class="table">
            <thead>
               <tr>
                  <th>Date</th>
                  <th>Source IP</th>
                  <th>Username</th>
                  <th>Password</th>
               </tr>
            </thead>
            <tbody>
            {% for line in page_data %}
            <tr>
               <td>{{ line['datetime'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
               <td>{{ line['ip'] }}</td>
               <td>{{ line['username'] }}</td>
               <td>{{ line['password'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}

<script src="/static/scripts/flot/jquery.flot.js"></script>
<script src="/static/scripts/flot/jquery.flot.pie.js"></script>
<script src="/static/scripts/flot/jquery.flot.time.js"></script>
<script type="text/javascript">
$(function () {
    $.ajaxSetup({
        error: function (x, status, error) {
            alert("An error occurred while fetching data from the server: " + error);
        }
    });

    function labelFormatter(label, series) {
        return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + " - " + Math.round(series.percent) + "%</div>";
    };

    var pie_chart_options = {
        series: {
            pie: {
                show: true,
                radius: 1,
                label: {
                    show: true,
                    radius: 2 / 3,
                    formatter: labelFormatter,
                    threshold: 0.09,
                    background: {
                        opacity: 0.2
                    }
                }
            }
        },
        legend: {
            show: false
        }
    };

    $.ajax({
        url: "{{ url_for('_home') }}",
        type: 'GET',
        dataType: "json",
        success: (function (data) {
            /* Plot the passwords and add them to the table */
            $.plot('#passwords', data.passwords, pie_chart_options);

            data.passwords.forEach(function (entry) {
                $("#passwords-table tbody").append("<tr><td>" + entry.label + "</td><td>" + entry.data + "</td></tr>");
            });


            /* Plot the usernames and add them to the table */
            $.plot('#usernames', data.usernames, pie_chart_options);

            data.usernames.forEach(function (entry) {
                $("#usernames-table tbody").append("<tr><td>" + entry.label + "</td><td>" + entry.data + "</td></tr>");
            });


            /* Plot the sources and add them to the table */
            $.plot('#sources', data.sources, pie_chart_options);

            data.sources.forEach(function (entry) {
                $("#sources-table tbody").append("<tr><td>" + entry.label + "</td><td>" + entry.data + "</td></tr>");
            });

            /* Now we just have to do a little massaging to get the historical data into the right format to chart */
            var history = [];
            var today = new Date().getTime() + (5 * 60 * 1000);
            var yesterday = new Date(today - (25 * 60 * 60 * 1000));

            data.history.forEach(function (entry) {
                history.push([entry.t, entry.count]);
            });

            console.log(history);

            $.plot('#latest-attempts', [history], {
                xaxis: {
                    mode: "time",
                    minTickSize: [1, "hour"],
                    min: yesterday,
                    max: today,
                    timezone: "chicago"
                }
            });
        })
    });
});
</script>

{% endblock %}
